* {
  margin: 0 auto;
  box-sizing: border-box;

  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;

}
body {

}


.footer {
  background-color: #A790C0;
  color: white;
  display: flex;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}



.footer div {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer img {
  width: 10%;
  filter: grayscale(100%);
}
.footer img:hover {
  width: 10%;
  filter: grayscale(0%);
  transition-duration: 0.23s;
}

.footer h1::after{
  content: "";
  position: absolute;
  background-color: white;
  width: 1px;
  height: 6rem;
  right: 50%;
  left: 45%;


}

.reseaux h1 {
  margin-bottom: 1rem;
}

.footer .ressource a{
  color: white;
  margin-top: 1rem;
  text-decoration: underline;
}

.footer .reseaux::after{
  content: "";
  position: absolute;
  background-color: white;
  width: 1px;
  height: 9rem;

  left:75%;



}

.cont-bandes {
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    pointer-events: none;
    /* background: #000; */
    z-index: 500;
}

.bande {
    width: 10%;
    height: 0%;
}
.bande:nth-child(even){
    background: #333;
}
.bande:nth-child(odd){
    background: #f1f1f1;
}

 /* Header
!
!
!
!*/

.main-header {
  display: flex;

  justify-content: space-between;
  position: relative;
}

.logo-header {
  position: relative;
  left: -4rem;
  top: 0;
  background-image: url('/img/logo/logo2.svg');
}
.main-header > nav {
  display: flex;
  max-height: 12%;
  position: relative;
  left: -13rem;
}

.logout_header{
  position: relative;
}

.logout_header {
  position: relative;

}

.btn_profil{
  z-index: 50;

}

.profil-header{
  display: flex;
  flex-direction: column;
  position:  relative;
  color: white;

background-color:  #484991;
  z-index: 50;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
  padding: 1rem 2.5rem 1rem 2.5rem;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  position: relative;
}



.profil-header:hover{
  background-color: #ECE1F2;
  transition: 0.5s;
  color: black;

}

.btn-log{
  position: relative;
  z-index: 1;
  top: -30%;
  visibility: hidden;
  transition-duration: 0.5s;

}

.logout_header:hover .btn-log{
  visibility: visible !important;
  top: 0;


}



.page-header > img {
  width: 30px;
  height: 30px;
  position: relative;
  left: -15%;
  top: 10%;

}
.page-header > h1 {
  position: relative;
  top: -45%;
    font-family: "Fredoka One";
  font-weight: lighter;
  color: #47488D;


}

.page-header {
  position: relative;
  font-family: "Fredoka One";
  margin-left: 1.5rem;
  font-size: 20px;
  background-color: #ECE1F2;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
  padding: 3rem 2.5rem 3rem 2.5rem;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;

}

.page-header:hover {
  background-color: #F67BD3;
  transition-duration: 0.5s;
}

.profil-header > h2 {
  position: relative;

}

a {
  text-decoration: none;
  color: black;
}


.logout_header {
  display: flex;
  flex-direction: column;
}




/* CONTACT
!
!
!
!
*/


.ilu_contact{
position: absolute;
top: 15%;
left: 60%;
}
.titre-contact {
  color: rgba(255, 255, 255, 0.7);
  font-size: 7rem;
  position: absolute;
  left: 10%;
  top: 20%;

}

.introduction h2{
  color: #484991;
  position: absolute;
  left: 25%;
  top: 36%;
  font-size: 2.5rem;
  max-width: 700px;

}
.introduction p{
  color: white;
  max-width: 600px;
  font-size: 1.5rem;
  position: absolute;
  left: 20%;
  top: 55%;
  text-align: center;
}
.intro-us {
  display: flex;
  position: absolute;
  top: 78%;
  left: 15%;


}


.creator{
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  color: white;
}

.formulaire {
  display: flex;
  position: absolute;
  top: 105%;
  width: 95%;
}

.info-form  {
  font-size: 2rem;
  width: 50%;
}
.formulaire-description {
  max-width: 500px;
  color: white;
}
.formulaire-description > span {
  font-size: 1.3rem;
  color: white;
}

.formulaire-contact {
  width: 50%;
}

.form-user {
  display: grid;
  grid-template-columns : 1fr 1fr;
  grid-column-gap : 40px;
  grid-row-gap : 30px;
  width: 70%;

}

.input-form {
  display: flex;
  flex-direction: column;
  margin: 0;
}

input[type=text] {
  border: 2px solid white;
  background: transparent;
  border-radius: 20px;
  margin: 0;
  height: 30px;
  color: white;
}


input[type=email] {
  border: 2px solid white;
  background: transparent;
  border-radius: 20px;
  margin: 0;
  height: 30px;
  color: white;
}
input[type=button] {
  background-color: white;
  color: #484991;
  border: none;
  padding: 10px 35px 10px 35px;
  position: relative;
  left: 70%;
  top: 40px;
  border-radius: 20px;
}
input[type=button]:hover {
  background-color: 484991;
  transition-duration: 1s;
  color: white;
  border: 1px solid white;


}

.form-user .mess{
  grid-column: 1 / 3;
}
.form-user .e-mail{
  grid-column: 1 / 3;
}

.input-form label {

  color: white;
}

.mess {
  height: 10rem !important;
}


/*Intro-home
!
!
!
!
!
!
!
*/

.intro {
  background-color: rgba(186,159,201,0.7);
  position: relative;
  overflow: hidden;
}
.intro > img {
  filter: blur(9px);
  position: relative;
  right: -30%;;
  top: 0;
}

.intro-txt {
  display: flex;
  flex-direction: column;
  position:absolute;
  top: 30%;
  left: 5%;
  text-transform: uppercase;

  text-align: center;
  color: #484991;


}

.intro-txt2 {
  display: flex;
  flex-direction: column;
  position:absolute;
  top: 30%;
  left: 5%;
  text-transform: uppercase;
  z-index: 50;
  text-align: center;
  color: #484991;


}

.intro-txt > h1 {
  font-size: 110px;
  font-family: "Fredoka One";
}
.intro-txt2 > h1 {
  font-size: 110px;
  font-family: "Fredoka One";
}
.intro-txt > h3 {
  font-size: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.intro-txt2 > h3 {
  font-size: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.intro-txt > a {
  font-size: 20px;
  color: white;
  background-color: #484991;
  border-radius: 30px;
  padding: 20 70 20 70;

}
.intro-txt2 > a {
  font-size: 20px;
  color: white;
  background-color: #484991;
  border-radius: 30px;
  padding: 20 70 20 70;

}

.btn-w:hover {

    background-color: #C6B4DD;
    transition-duration: 0.3s;
    border: solid #484991 1px;
    color: #484991;

}

.blur{
  filter: blur(2.5rem);
  opacity: 1;
  transition-duration: 0.5s;
  opacity: 0.3;
  text-align: left;

}






/* presentation home
!
!
!
!
!
!
*/

.index-presentation{
  overflow:hidden;
  position: relative;
  height: 1084px;
  background-color: #A790C0;
}

.index-presentation > img {

  position: relative;
  right: -30%;;
  top: -4px;
}
#index-bulle {
  position: absolute;
  top: 38%;
  left: 10%;


}

.txt_intro {
  text-align: left;
  position: absolute;
  top:18rem;
  left: 4rem;
  color: white;
  max-width: 37%;
}

.txt_intro p{
  margin-left: 0;
}



.txt_intro  a {
  position: relative

}

.blur_btn {
  padding: 0.5rem 2rem 0.5rem 2rem !important;
  margin-left: 15rem !important;
}

#pre-1{
  font-size: 35px;
  max-width: 540px;
}
#pre-2{
  margin-top: 30px;
  margin-bottom: 25px;
  font-size: 30px;
  max-width: 771px;
}
#pre-3{

  left: -16.5%;
  font-size: 30px;
  max-width: 789px;
  margin-bottom: 5rem;
}

/* presenation laika
!
!
!
!
!
!
!
*/

.pre-laika {
  background-image: url(/img/illustration/fond-degrade.svg);
}

.laika-flex {
  display: flex;
  position: relative;
  align-items: center;
  margin-right: 10rem;
  padding-top: 10rem;
}
.laika-flex >  h1 {
  font-size: 50px;
  max-width: 430px;
  text-align: center;
  color: #DEC6EB;
  margin-left: 300px;
}

#h1laika2 {
  max-width: 592px;
  margin-left: 0;
}
#oeil_laika{
  margin-bottom: 330px;
}

.pre-laika > p {
  font-size: 35px;
  margin-top: 3rem;
  max-width: 595px;
  text-align: center;
  color: #DEC6EB;
  padding-bottom: 10rem;
}

#tete_contente {
  position: absolute;
  top: 2600px;
  left: 2%;
}

/* Nav menu  index
!
!
!
!
!
*/

#trait-i {
  position: absolute;

  overflow: hidden;
  top: 20%;
  width: 100%;
  height: 100%;
  z-index: 1;
  left: -10%;
}
.index-nav-menu {
  background-image: linear-gradient(#766BA7,20%,#383969);
  overflow: hidden;
  position: relative;




}

.i-menu h1  {
  font-size: 60px;
  color: #E7CEF5;
  font-weight: bold;

}
.i-menu p  {
  font-size: 40px;
  color: #E7CEF5;
  max-width: 817px;
  margin-bottom: 100px;
  margin-top: 20px;

}

.i-menu a {
  color: #E7CEF5;
  font-size: 40;
  font-weight: bold;
  background-color: #484991;
  border-radius: 30px;
  padding: 10 45 10 45;
  overflow: hidden;


}

.i-menu {
  display: flex;
  width: 100%;
  align-items: center;
  overflow: hidden;
  z-index: 20;
  position: relative;
}

.txt-menu {
  width: 50%;
}

.i-menu > img {
  width: 50%;
}

.menu2 {
  flex-direction: row-reverse;
}
.menu2 > img {
  z-index: 20;
}

.txt-menu1 {
  margin-left: 100px;
}
.menu1 img {
  margin-left: 100px;
}
.txt-menu2 {
  margin-right: 100px;
  z-index: 50;
}
.text-menu3 {
  position: relative;
  left: 0%;
}
.img-menu1{
  position: relative;
  left: 5%;
}

.img-menu2{
  position: relative;
  right: 7%;
}

.menu3 {
  position: relative;
  margin-bottom: 200px;
}

#p2-i {
  max-width: 685px;
  text-align: right;
}
#h12-i {
  margin-left: 100px;
}
#btn-jouer-i {
  margin-left: 200px;
  z-index: 10;
  position: relative;
  color: #E7CEF5;
    font-size: 40;
    font-weight: bold;
    background-color: #484991;
    border-radius: 30px;
    padding: 10 45 10 45;
    overflow: hidden;

}

#btn-jouer-i:hover {

  background-color: #C6B4DD;
  transition-duration: 0.3s;
  border: solid #484991 1px;
  color: #484991;


}
#btn-creer-i {
  margin-left: 400px;
  z-index: 10;
  position: relative;

}
#btn-calen-i {
  margin-left: 200px;
  z-index: 10;
  position: relative;

}
#bulle3-i {
  position: relative;
  right: -15%;

}

.menu1 {
  margin-top: 100px;
}
.menu3 p {
  max-width: 685px;
}
.menu3 h1 {
  max-width: 749px;
  font-size: 70px;
}

.color-i {
  height: 500px;
  background-color: #BA9EC9;
  position: relative;
  z-index: 10;
  margin-bottom: 200px;
}


/* Creer
:
:
:
:
:
*/

.intro_diy {
  color: white;
  margin-top: 100px;
  position: relative;
  margin-bottom: 200px;
}

.div_introDIY1 {
  display: flex;
  align-items: center;
  background-image: url("/img/diy/intro_diy.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 709px;
  position: relative;

}
.text_introDIY1 {
  max-width: 755px;
  text-align: left;
  position: relative;
  top: -15%;
  left: 3%;
}
.div_introDIY1  h1 {
  font-size: 90px;
  font-weight: bold;
  margin-bottom: 40px;
}

.div_introDIY1  p {
  font-size: 40px;
}

.div_introDIY2 {
  background-image: url("/img/diy/fill_diy.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 85%;;
  left: 32%;
  width: 600px;
  height: 226px;
  background-size: cover;







}
.div_introDIY2::before{
  filter: blur(2px);
}

.div_introDIY2 > h1{
  position: relative;
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  top: 30%;






}

.div_introDIY2 > div{
  width: 100%;
  height: 100%;
  position: relative;

}
.div_introDIY2 > svg{
  position: absolute;
  top: 12%;
  left: 48%;
}
.les_diy {
  display: flex;
  flex-wrap: wrap;
}
.desc_diy {

  display: flex;

}

.desc_diy > p {
  margin-right: 10px;
  font-size: 20px;
}

.solo_diy {
  display: flex;
  flex-direction: column;
  background-color: rgba(231, 206, 245, 0.5);
  max-width: 435px;
  padding: 50px 30px 50px 30px;
  flex-basis: 33%;
  color: white;
  border-radius: 22px;
  width: 30%;
}


.btn_diy {
  background-color: #F67BD3;
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  margin-top: 20px;
}

.btn_diy:hover {
  background-color: #A9478D;
  transition-duration: 0.3s;
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  margin-top: 20px;
}

.solo_diy > div > h2  {
  font-size: 32px;
  font-family: "Fredoka One";
  font-weight: lighter;
}
.solo_diy > div {
  margin-bottom: 20px;
}

.solo_diy > div > img {
  width: 22rem;
}

.solo_diy:nth-child(1) > div > img {
  width: 20rem;
}

.solo_diy:nth-child(3) > div > img {
  width: 20rem;
}


.footer_d_game {
  margin-top: 100px;
  background-color: #BA9EC9;
  color: white !important;
}

.menu_diy {
  padding-top: 30px;
}

/*  DIY
!
!
!
!
!
*/


.prep_diy {
  background-color: #B69BC7;
  border-radius: 20px;
  max-width: 1200px;
  width:1008;


  text-align: center;
  position: relative;
  margin-top: 100px;
  margin-bottom: 50px;
}

.prep_diy img  {
  width: 40%;

}

.prep_diy>h1 {
  color: white;
  margin-bottom: 40px;
  padding-top: 40px;

  font-size: 50px;
  font-family: "Fredoka One";
  font-weight: lighter;

}

.expli_diy {
  display: flex;
  width: 90%;
  margin-top: 150px;
  color: #303156 !important;
  padding-bottom: 50px;


}

.trait_diy {
  width: 70%;
  border-top: 1px solid white;
  position: relative;
  top: 70px;



}

.preparation{
  width: 50%;
  text-align: left;
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
  width: 519px;

}
.ingre {
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
  width: 50%;
  max-width: 294px;
  text-align: left;
  border-radius: 20px;
  height: 450px;

}

.ingre > h1,li {
  margin-bottom: 20px;
}
.expli_diy li {
  font-size: 20px;
  max-width: 401px;

}

.ingre li {
  font-weight: bold;
}

.expli_diy  h1{
  font-size: 35px;
}

.preparation > h1{
  margin-bottom: 20px;
}

ul  {
  list-style-type: decimal;
}

.onclickIndex {
  background-color: black;
}


/*stat_profil!
!
!
!
!

!
!

!
*/

.stat_profil {

  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  display: flex;
  z-index: 50;
  position: relative;

  top: 5%;

}

.stat_profil > img {
  position: relative;
  left: -5%;

}

.stat {
  display: flex;
  flex-direction: column;
  z-index: 50;
}

.info_profil{
  text-align: left;
}

.illu_stat{
  position: absolute;
  right: 7%;
  top: 20%;
  width: 30%;
}

.info_profil{
  position: relative;
  left: -7%;
}

.nom_profil{
  font-size: 5rem;
  position: relative;

  color: #F2CCF2;
}

.date_creat{
  font-size: 1.3rem;
  margin-top: 1rem;
}

.les_stats {
  display: grid;
  grid-template-columns: 1fr  1fr;
  margin-right: 20rem;
  grid-column-gap: 7rem;

}

.num_profil {
  color: #303156;
  background-color: #F2CCF2;
  border-radius: 20px;
  padding: 3rem 2rem  3rem 2rem;
}

  .num_profil span  {
    background-color: #FFF;
    border-radius: 50%;
    padding: 1rem 1.5rem 1rem 1.5rem;
  }

  .aventure span  {
    background-color: #FFF;
    border-radius: 50%;
    padding: 1rem 1rem 1rem 1rem;
  }


/*gamepage
!!
!
!
!
!
*/

.flex-planet {
  display:flex;
  position: relative;
  top: 28%;
  width: 3700px;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;


}

.planete{
  width: 30rem;

  margin: 0;
  display: flex;
  flex-direction: column;
}

.planete:nth-child(1){
  margin-left: 25rem;
}

.planete:nth-child(2){
  position: relative;
  top: -4rem;
  margin-right: 13rem;
  margin-left: 19rem;
}
.planete:nth-child(3){
  position: relative;
  top: -7rem;


}
.planete:nth-child(3) img:nth-child(2){



}

.planete:nth-child(4){
  position: relative;
  top: -5rem;

}

.planete:nth-child(5){
  position: relative;
  top: -0.5rem;

}

.planete:nth-child(6){
  position: relative;
  top: 4rem;

}


.num-planete{
  filter: grayscale(100%);
}

.img-planete{
  filter: grayscale(100%);
}

.img-planete:hover{
  filter: grayscale(0%);
  transition-duration: 0.8s;
   transform: scale(1.1);
}




.storyText {
  padding: 2rem 10rem 2rem 10rem;
  border-radius: 55px;
  position: fixed;
  bottom: 5rem;
  left: 30%;
  background-color: #D5C1ED;
  margin-top: 12rem;
  color: black;
  font-size: 1.3rem;
  font-weight: bold;

}


/*page-vidéo*/

.page-video{
  display: flex;
  flex-direction: column;


}

.page-video .titre-video{
  font-size: 5rem;
  font-family: "Fredoka One";
  font-weight: lighter;

}

.page-video p {
  margin-top: 3rem;
  font-size: 1.8rem;
  max-width: 50%;
  margin-bottom: 2rem;
}

.page-video a  {
  color:
}

.quizz{
  position: fixed;
  width: 70rem;
  height: 40rem;
  background-color: #B69BC7;
  border-radius: 30px;
  left: 20%;
  top:20%;
  z-index: 80;

}

.btn_quizz{
  position: relative;
  top: 35rem;
  left: 40%;
  z-index: 90;
}

/* connexion */
.container_connexion {
  background-color: #A793B2;
  max-width: 30%;
  border-radius: 30px;
  padding-top: 3rem;
  padding-bottom: 4rem;
  padding-right: 0.2rem;
  padding-left: 0.2rem;
}



.container_connexion form{
  z-index: 20;
  padding-top: 1rem;

  max-width: 90%;

  text-align: center;
}

.container_connexion form input,.container_connexion button{
  font-size: 1.25rem;
  margin-bottom: 1rem;
  border-radius: 20px;
  border: solid 1px white;
  margin-top: 0.5rem;
  width: 80%;
  padding-top: 0.6rem !important;
  padding-bottom: 0.6rem !important;



}

.container_connexion form input[type=checkbox]{
  font-size: 1.25rem;
  margin-bottom: 1rem;
  border-radius: 20px;
  border: solid 1px white;
  margin-top: 0.5rem;
  width: 10%;



}

.container_connexion form input[type=email]{

  background: transparent !important;

}

.container_connexion form label{
  font-size: 1.25rem;
  margin-bottom: 1rem;


}

.mdp_forget {
  margin-top: 1rem;
  color: white;
  position: relative;
  top: 20%;
}

.btn_connec_forget{
  position: relative;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.btn_connec {
  background-color: #47488C;
  border: none;
  color: white;
  font-size: 1.20rem;
  border-radius: 20px;
  padding: 0.4rem 1rem 0.4rem  1rem;


}

.container_connexion .btn_connec{
  font-weight: bold;
  border: none;
}


.container_connexion .btn_connec::after {
  content: '';
  position: absolute;
  background-color: #FFF;
  width: 20rem;
  height: 1px;
  bottom: -10%;
  left: 23%;

}

.btn_connec:hover {
  background-color: #DEC6EB;
  transition-duration: 0.3s;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 1.20rem;
  border-radius: 20px;
  padding: 0.4rem 1rem 0.4rem  1rem;
  color: #47488C;
}

.btn_crea_connec {
  padding-left: 20% !important;
  padding-right: 20% !important;
  font-weight: bold;
  padding-top: 0.6rem  !important;
  padding-bottom: 0.6rem !important;
}

.titre_log {
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  position: relative;
  margin-bottom: 3rem;
  text-transform: uppercase;
  z-index: 20;

}

.container_connexion .titre_log::after {
  content: '';
  z-index: 1;
  position: absolute;
  background-color: #47488C;
  width: 80%;
  height: 2rem;
  bottom: -20%;
  left: 10%;
  border-radius: 20px;
}

.register {
  text-align: center;
  margin-top: 3rem;
}

/* inscri






*/
.register p {

  margin-bottom: 1rem;
}

.btn_crea {

  color: #47488C;
  background-color: #DEC6EB;
  border-radius: 20px;
  padding: 0.2rem 0.8rem 0.2rem 0.8rem;
}

.btn_crea:hover {

  color: #DEC6EB;
  background-color: #47488C;
  border-radius: 20px;
  padding: 0.2rem 0.8rem 0.2rem 0.8rem;
  transition-duration: 0.3s;

}


#select{
  width: 300px;
  height: 300px;
  font-size: 0;
  border: none;

}

#select option {
  font-size: 16px;
}

.flex-form form{
  display: flex;
  max-width: 60%;
}

.form_inscri{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
   grid-auto-rows: 5rem;
   margin-top: 4rem;
}

.btn_validate{
  position:absolute;
  top: 80%;
  left: 40%;

}

.info_form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.info_form label{
  text-align: left;
}

.flex-form form {
  background-color: #A793B2;
  border-radius: 30px;
  padding-top: 2rem;
  margin-top: 2rem;
  position: relative;
  padding-bottom: 4rem;

}

.avatar_chose {
  display: flex;
  flex-direction: column;
}

.avatar_chose label{
  margin-bottom: 1rem;
}

.flex-form .form_email{
  grid-column: 1 / 3;
  margin: 0;
}

.flex-form .form_email #email{
  width: 100%;
}

input[type=password]{
  border: 2px solid white;
    background: transparent;
    border-radius: 20px;
    margin: 0;
    height: 30px;
    color: white;
}

.btn_validate_push {

  font-size: 1.20rem;
}

.form_inscri label {
  margin-left: 0;
  margin-bottom: 0.2rem;
}

.titre_crea {
  max-width: 60%;
  text-align: left;
  margin-left: 20%;

}


/* Calendrier
!
!
!
!
!
*/

.intro_calender {
  display: flex;
  align-items: center;
  background-image: url('/img/diy/intro_diy.svg');

  background-repeat: no-repeat;
  background-position: center;
  padding-top: 5rem;
  position: relative;


}

.intro_calender::after {
  content: "";
  width: 100%;
  height: 100%;
  backdrop-filter: blur(0.05rem);
  position: absolute;
}

.txt_calender {
  z-index: 20;
  color: white;
  left: 9rem;
  margin-right: 15rem;
  max-width: 35%;
  position: relative;

}

.txt_calender h1{
  font-size: 5rem;
  font-weight: bold;
  position: relative;
  top: -9rem;
}

.txt_calender p{
  font-size: 2rem;
  position: relative;
  top: -5rem;

}

.txt_calender a{
  color: white;
  background-color: #41427F;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 20px;
  font-weight: bold;
  transition-duration: 0.3s;


}

.txt_calender a:hover{
  color: #41427F;
  background-color: white;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 20px;
  font-weight: bold;


}

.intro_calender .illu {
  z-index: 20;
  height: 100%;

}
.intro_calender .illu img{
  width: 80%;
  position: relative;
  top: -2rem;
}
